@import url('/src/reset.css');

@font-face {
    font-display: block;
    font-family: "Nimbus";
    src: url(fonts/NimbusSanL-Regular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-display: block;
    font-family: "Nimbus";
    src: url(fonts/NimbusSanL-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-display: block;
    font-family: "Nimbus";
    src: url(fonts/NimbusSanL-RegIta.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-display: block;
    font-family: "Nimbus";
    src: url(fonts/NimbusSanL-BoldIta.otf) format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-display: block;
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-display: block;
    font-family: "Poppins";
    src: url(fonts/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-display: block;
    font-family: "Poppins";
    src: url(fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: bold;
}

* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --menu-bar-height: 2rem;
    --window-title-height: 1.5rem;
    --controls-height: 4rem;

    --offset: calc(var(--controls-height) + var(--menu-bar-height));
    --main-window-height: calc(100vh - var(--offset));

    --clr-primary-light: #339af0;

    --clr-primary: var(--clr-primary-light);
    --clr-primary-dark: color-mix(in oklab, var(--clr-primary) 75%, black);

    --clr-gray-0: #f8f9fa;
    --clr-gray-1: #f1f3f5;
    --clr-gray-2: #e9ecef;
    --clr-gray-3: #dee2e6;
    --clr-gray-4: #ced4da;
    --clr-gray-5: #adb5bd;
    --clr-gray-6: #868e96;
    --clr-gray-7: #495057;
    --clr-gray-9: #212529;

    --clr-red-7: #f03e3e;
    --clr-red-8: #e03131;
    --clr-red-9: #c92a2a;

    --clr-blue-7: #1c7ed6;

    --clr-cyan-7: #1098ad;

    --clr-lime-7: #74b816;

    --clr-error: var(--clr-red-8);
    --clr-error-dark: color-mix(in oklab, var(--clr-error) 75%, black);
    --clr-success: var(--clr-lime-7);
    --clr-success-dark: color-mix(in oklab, var(--clr-success) 75%, black);
    --clr-info: var(--clr-blue-7);
    --clr-info-dark: color-mix(in oklab, var(--clr-info) 75%, black);
}

html, body {
    font-size: 13px;
    text-align: left;

    line-height: 1.3;
    font-family: Nimbus, sans-serif;
    color: var(--clr-gray-9);
    background: white;
}

header {
    font-family: Poppins, sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1.15rem;
}

strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

input, button {
    font: inherit;
    text-align: left;
    color: inherit;
}

input[type="text"],
input[type="number"] {
    padding: 0.25rem;
    border: 1px solid var(--clr-gray-5);
    border-radius: 0.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.center {
    text-align: center;
}

/* Forms */
form {
    padding: 1rem;
}

.item-edit-form {
    display: grid;
    grid-template-columns: 12rem 1fr;
    gap: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &.footer {
        grid-column: 1 / -1;
        display: flex;
        align-items: flex-end;
    }

    & legend {
        font-weight: bold;
        margin: 0.5rem 0;
    }
    
    & label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        vertical-align: middle;
        gap: 1rem;
    }

    & label > span {
        margin-right: 1rem;
    }

    & label > input {
        float: right;
    }
}

/* Utility classes */
.context-menu {
    display: none;
}

.context-menu-active {
    display: block;
    width: max-content;
    color: var(--clr-gray-9);
    background: var(--clr-gray-0);
    border-radius: 0.25rem;
    border: 1px solid var(--clr-gray-4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.context-item {
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
}

.context-divider {
    border: 0.5px solid var(--clr-gray-4);
    margin: 0.5rem 0;
}

.context-item:hover {
    background: var(--clr-gray-4);
}

.glass {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.hidden {
    display: none !important;
}

.no-wrap {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
    width: 5px;
}


/* Slider and Progress */
progress {
    -webkit-appearance: none;
    overflow: hidden;
    width: 100%;
}

::-webkit-progress-value {
    transition: width 0.25s;
    background: linear-gradient(to right, var(--clr-primary-dark), var(--clr-primary));
    border-radius: 10px;
}

::-webkit-progress-bar {
    background: var(--clr-gray-3);
    border: 1px solid var(--clr-gray-6);
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--clr-gray-3);
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--clr-gray-5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--clr-gray-7);
} 

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].styled-slider {
    -webkit-appearance: none;
    background-color: inherit;
    --track-height: 0.4rem;
    --thumb-width: 1rem;
    --thumb-height: 1rem;
    cursor: pointer;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1rem + var(--ratio) * (100% - 1rem));
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 50%;
    background: var(--clr-gray-9);
    border: none;
    margin-top: calc(var(--track-height) * 0.5 - var(--thumb-height) * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: var(--track-height);
    border: none;
    border-radius: 0.2rem;
    background: var(--clr-gray-5);
    box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(var(--accent-color),var(--accent-color)) 0/var(--sx) 100% no-repeat, var(--clr-gray-5);
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 50%;
    background: var(--clr-gray-9);
    border: none;
}

input[type=range].styled-slider::-moz-range-track {
    height: var(--track-height);
    border: none;
    border-radius: 0.2rem;
    background: var(--clr-gray-5);
    box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(var(--clr-primary),var(--clr-primary)) 0/var(--sx) 100% no-repeat, var(--clr-gray-5);
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 50%;
    background: var(--clr-gray-9);
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: var(--track-height);
    border-radius: 0.2rem;
    background: var(--clr-gray-5);
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: var(--track-height);
    border-radius: 0.2rem 0 0 0.2rem;
    margin: -undefined 0 -undefined -undefined;
    /* background: var(--clr-primary); */
    border: none;
    border-right-width: 0;
}
