@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: block;
    font-family: "Nimbus";
    src: url(fonts/NimbusSanL-Regular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-display: block;
    font-family: "Nimbus";
    src: url(fonts/NimbusSanL-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-display: block;
    font-family: "Nimbus";
    src: url(fonts/NimbusSanL-RegIta.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-display: block;
    font-family: "Nimbus";
    src: url(fonts/NimbusSanL-BoldIta.otf) format('opentype');
    font-weight: bold;
    font-style: italic;
}

html {
    font-size: 13px;
    text-align: left;

    letter-spacing: 0.05ch;
    line-height: 1.5;
    font-family: Nimbus, serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    font-weight: bold;

}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
